name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install perflint
    - name: Analysing the code with pylint and perflint
    #
    # W8201 = loop-invariant-statement
    # W8205 = dotted-import-in-loop
    # W0212 = Accessing protected attribute of client class
    # W0613 = Unused argument
    # R0903 = Too few public methods
    # C0301 = Line too long
    # C0103 = Invalid name
    # R0914 = Too many local variables
    # F0401 = Unable to import module
    # W0402 = Uses of a deprecated module
    # W0614 = Unused import from wildcard
    # C0111 = Missing docstring
    # C0321 multiple statements on one line
    #
      run: |
        pylint \
        --load-plugins perflint \
        --disable W8205,W8201,W0212,W0613,R0903,W0614,C0111,C0301,C0103,F0401,W0402,R0914,C0321 \
        --output-format colorized \
        --reports y \
        --max-line-length 80 \
        --max-module-lines 2000 \
        --notes TODO \
        --init-import n \
        --max-args 5 \
        --max-locals 15 \
        --max-returns 10 \
        --max-statements 50 \
        --max-parents 7 \
        --max-attributes 7 \
        $(git ls-files '*.py')
